@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

span{
  font-size:20px;
  line-height:1.6;
}

body{
  padding:50px;
}

.highlight{
    display:block;
    width: max-content;
    background-size: 200% auto; 
    background-image: linear-gradient(to right,#fff 50%,#ff0 50%);
    background-position: 0% 0;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.highlight.active{
   animation-name: highlight;
}

@keyframes highlight {
    from {background-position: 0% 0;}
    to {background-position: -100% 0;}
}
;